SoapRUSH/.idea/.idea.SoapRUSH/.idea/indexLayout.xml
SoapRUSH/Library/Artifacts
SoapRUSH/Library/Collab
SoapRUSH/Library/ScriptAssemblies
SoapRUSH/Library/StateCache
SoapRUSH/Temp
SoapRUSH/Library/ArtifactDB
SoapRUSH/Library/ArtifactDB-lock
SoapRUSH/Library/CurrentLayout-default.dwlt
SoapRUSH/Library/EditorInstance.json
SoapRUSH/Library/InspectorExpandedItems.asset
SoapRUSH/Library/ProtocolInstance.json
SoapRUSH/Library/SourceAssetDB
SoapRUSH/Library/SourceAssetDB-lock
SoapRUSH/Library/EditorUserBuildSettings.asset
SoapRUSH/Library/SceneVisibilityState.asset
SoapRUSH/Library/expandedItems
SoapRUSH/obj/Debug
SoapRUSH/Assembly-CSharp.csproj
SoapRUSH/.DS_Store
SoapRUSH/.idea/.idea.SoapRUSH/riderModule.iml
SoapRUSH/Library/shadercompiler-UnityShaderCompiler0.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler1.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler2.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler3.log
SoapRUSH/Assets/Scripts/.DS_Store
SoapRUSH/Library/ShaderCache
SoapRUSH/Library/UIElements
SoapRUSH/Library/LastSceneManagerSetup.txt
SoapRUSH/Library/ScriptMapper
SoapRUSH/.idea/.idea.SoapRUSH/.idea/vcs.xml
*.md
SoapRUSH/Library/PackageCache
SoapRUSH/Library/shadercompiler-UnityShaderCompiler.exe0.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler.exe1.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler.exe2.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler.exe3.log
SoapRUSH/Library/shadercompiler-UnityShaderCompiler.exe4.log
SoapRUSH/Assets/TextMesh Pro